@tailwind base;
@tailwind components;

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

.react-colorful .react-colorful__last-control {
    @apply rounded-none;
}

.arrow {
    position: absolute;
    left: 12.5%;
    top: 0px;
    transform: translate(20px, 140%);
    display: flex;
    align-items: flex-end;
    font-size: 21px;
    @apply animate-pulse;
}

@tailwind utilities;
